<div class="row row-cols-1 row-cols-sm-3">
  {% for image in images %}
  <div class="col mb-4">
    <div class="card">
      <img src="{{ url_for('static', filename=image[0][7:]) }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ image[1] }}</h5>
        <p class="card-text">{{ image[2] }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 seconds ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<br/><br/>

{{ accuracy|safe }}

<br/><br/>
<div class="text-align-center">
  <b>Most Informative Features</b>
</div>
<br/><br/>
<p>
  <b>The classification algorithms use Linear Support Vector, Multinomial Naive Bayes, Logistic Regression, Stochastic Gradient Descent, and Random Forest classification models to classify reviews.
    Below is an explanation of the coefficients for the linear models.</b>
</p>
<br/><br/><br/>

<div class="row row-cols-1 row-cols-sm-2">
  {% for table in coefficientTables %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-body" class="text-align-center">
        <h5 class="card-title">{{ table[1] }}</h5>
      </div>
      {{ table[0]|safe }}
      <div class="card-body">
        <h6>Explanation</h6>
        <p class="card-text">{{ table[2] }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 seconds ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br/><br/><br/>


<div class="text-align-center">
  <b>10 rows of the updated dataset</b><br/><br/><br/><br/>

  {{ datasetTable|safe }}

</div>
